.Sharecrow{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  z-index: 2;
}

.share-dialog {
    display: none;
    width: 95%;
    max-width: 500px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 20px;
    border-radius: 4px;
    /* background-color: var(--color-white); */
    background-image: url("https://c.tenor.com/_4YgA77ExHEAAAAC/rick-roll.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 20px var(--color-primary);
  }
  
  .share-dialog.is-open {
    display: block;
    z-index: 2;
   
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    width: 60%;
  }
  
  
  .close-button {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  .close-button svg {
    margin-right: 0;
  }
  
  .link {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--color-primary);
    border-radius: var(--card-border-radius);
  }
  
  .pen-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 900;
    font-size: 1.2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .closeButton {
    position: absolute;
    background-color: var(--color-white);
    top: 1em;
    right: 1.5em;
    color: var(--color-primary);
    font-size: larger;
    font-weight: 700;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .5s;
}

.closeButton:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.copy-link{
  padding: .5em 1em;
    background-color: var(--color-secondary);
    border-radius: 20px;
    font-weight: 900;
    font-size: 1em;
    color: var(--color-black);
    transition: 6.9s ease-in ease-out;
    cursor: copy;
}

.copy-link:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.copy-link:active {
   /* animation: Sharecolor 10s ; */
  background-color: var(--color-success);
}

@keyframes Sharecolor {
  0% {
    background-color: var(--color-secondary);
  }
  50%{
    background-color: var(--color-success);
  }
  100%{
    background-color: var(--color-secondary);
  }
}