.BottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: var(--color-secondary);
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius)  var(--border-radius) 0 0  ;
    box-shadow: 0 0.4rem 1rem 0 rgba(55, 55, 55, 0.2);
}

.BottomNav > ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0 20px;
    font-size: 2em;
}

.BottomNav > ul > .menu-item1 {
    border: 5px solid rgba(0, 0, 0, 0);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.BottomNav > ul > .menu-item1 .active i{
    color: var(--color-primary);
}

.BottomNav > ul > .menu-item1 .active::before{
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}