main .container .right{
    height: max-content;
    position: sticky;
    top: var(--sticky-top-right);
    bottom: 0;
}

.right .search1{
    background: var(--color-white);
    border-radius:var(--card-border-radius) ;
    padding: var(--card-padding);
}
.right .search1 .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:1rem ;
}
.right .search1 i{
    font-size: 1.4rem;
}
.right .search1 .search-bar{
    display: flex; 
    margin-bottom: 1rem;
}
.right .search1 .category{
    display:flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.right .search1 .category h6{
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--color-light);
    padding-bottom: 0.5rem;
    font-size: 0.85;
}
.right .search1 .category .active{
    border-color:var(--color-dark) ;
}
.right .search1 .message{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}
.right .message .profile-picture{
    position: relative;
    overflow: visible; 
}
.right .profile-picture img{
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.right .search1 .message:last-child{
    margin: 0;
}
.right .search1 .message p{
    font-size: 0.8rem;
}
.right .search1 .message .profile-picture .active{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    background: var(--color-success);
    position: absolute;
    bottom: 0;
    right: 0;
}

.right .search1 .message-requests{
    color: var(--color-primary);
}

#multiple-limit-tags
{
    border: 2px solid;

}

.CreatorName{
    margin-top: 10px;
    background: var(--color-white);
    border-radius:var(--card-border-radius) ;
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-weight: bold;

}

.linkden {
   color: var(--color-primary);
}

.copyright {
    font-size: small;
    display: flex;
    justify-content: left;
    align-items: left;
}

.Userlist{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Deetsz{
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: relative;
    align-items: center;
    /* flex-direction: column; */
    gap: 10px;
    width: 100%;
    /* background-color: var(--color-secondary) !important; */
    box-shadow: 0 0 5px var(--color-primary);
    overflow-x: hidden;
    min-height: 25px;
    font-size: 0.9em;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin-bottom: 1px !important ;
    font-weight: bolder;
    cursor: pointer;
}