main .container .right{
    height: max-content;
    position: sticky;
    top: var(--sticky-top-right);
    bottom: 0;
}

.right .search1{
    background: var(--color-white);
    border-radius:var(--card-border-radius) ;
    padding: var(--card-padding);
}
.right .search1 .headings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:1rem ;
}
.right .search1 i{
    font-size: 1.4rem;
}
.right .search1 .search-bar{
    display: flex; 
    margin-bottom: 1rem;
}
.right .search1 .category{
    display:flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.right .search1 .category h6{
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--color-light);
    padding-bottom: 0.5rem;
    font-size: 0.85;
}
.right .search1 .category .active{
    border-color:var(--color-dark) ;
}

.right .buttonS .btn{
    width: 100%;
}

.middlee {
    margin-top: 10px;
}

.why{
    display: flex;
    width: 450px;
}

/*========showmore========*/

.showmore{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 0 10px;
}

