<html>
    <head>
    <style>
        .OTP{
        border: 1px solid black;
        height: 200px;
        width: 70%;
        margin-top: 20px;
        margin: auto;
        background-image: url("https://c.tenor.com/_4YgA77ExHEAAAAC/rick-roll.gif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        } 
        .Fontwhy{
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        z-index: 2;
        width: 50%;
        padding: 1px; 
        margin-left: 50px;
        margin: auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center;
        font-size: larger;
        border: 2px solid white;
        }
    </style>
    </head>
<body>
    <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
        <div style="margin:50px auto;width:70%;padding:20px 0;">
          <div style="border-bottom:1px solid #eee">
            <img src="https://i.ibb.co/3BdCC1v/logo2.png" alt="" style="height: 70px;width: 70px;">
            <a href="" style="font-family:'pacifico', cursive !important;font-size:4em;color: #00466a;text-decoration:none;font-weight:600">Cenacle</a>
          </div>
          <p> Hello <%- name %>!!!<br>
          Welcome to Cenacle , We are pleased to have you at cencale
          <br>
          Hope you will stick around XD
          <br>
          </p>
          <!-- <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">324457</h2> -->
          <div class="OTP">
            <div class="Fontwhy"> 
                <h2>OTP for Cenacle :</h2>
                <h2><%- randomNumber %></h2>
                </div> 
        </div>
          <p style="font-size:0.9em;">Regards,<br /> Team Cenacle</p>
          <hr style="border:none;border-top:1px solid #eee" />
          <div style="padding:8px 0;color:rgb(87, 80, 80);font-size:0.8em;line-height:1;font-weight:300">
            want to work with us? contact us at
            <a class="shiny-email" href = "mailto:cenacletechlab@gmail.com?subject = Feedback&body = Message">
            <p >cenacletechlab@gmail.com</p>
            </a>
          </div>
        </div>
      </div>
</body>
</html>