.Rick{
    background-image: url("https://c.tenor.com/_4YgA77ExHEAAAAC/rick-roll.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Profile_Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    background-image: radial-gradient(red, white 50%)
}

.Profile_Grid > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: white;
}