@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

.createForm {
    display: grid;
    margin: 3em;
    margin-left: 10em;
    margin-right: 10em;
    gap: 40px;
    grid-template-columns: auto 20vw;
    margin-top: 6rem;
}

.createForm > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createForm > form > .CreatePostTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2em;
    color: var(--color-dark);
    font-family:'Poppins', sans-serif ;
    font-weight: 700;
}

.createForm > form > .chooseTag {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
}

.createForm > form > .chooseTag > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    width: fit-content;
}

.createForm > form > .chooseTag > div > label {
    width: max-content;
}

.createForm > form > .chooseTag > div > input {
    border: none;
    outline: none;
    box-shadow: 0 0 1px #fff;
    color: var(--color-dark);
    background-color: var(--color-white);
    padding: .4em 1em;
}

.createForm > form > .chooseTag > div >#tagType {
    width: 50px;
}

.createForm > form > .cP {
    padding: 0;
    border-radius: var(--card-border-radius);
    width: 100%;
    box-shadow: 0 0 10px #0005;
    margin: 1em 0 0 0;
}
#Tags
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.createForm > form > div > .ButtonGroup > button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--color-white);
    color: var(--color-dark);
    font-weight: 600;
    border: none;
    outline: none;
    border: .2px solid #000;
    margin-bottom: 0;
}

.focusClass {
    border-bottom: 3px solid var(--color-dark) !important;
}

.createForm > form > div > .Postdata {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    background-color: var(--color-white);
    border: 1px solid var(--color-dark);
    border-bottom-right-radius: var(--card-border-radius);
    border-bottom-left-radius: var(--card-border-radius);
    padding: 1em 0;
}

.createForm > form > div >.Postdata > div {
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 .5em;
}

.createForm > form > div > .Postdata > div > input[type=text] {
    padding: .8em;
    background: transparent;
    border: 1px solid #0005;
    border-radius: var(--border-radius);
    color: var(--color-dark);
}

.createForm > form > div > .Postdata > div > .postDatabuttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.createForm > form > div > .Postdata > div > .postDatabuttons > button {
    border-radius: 40px;
    width: fit-content;
    font-size: 1em;
    padding: .5em 1em;
    border: none;
    outline: none;
}

.createForm > form > div > .Postdata > div > .postDatabuttons > button[type=Submit] {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 600;
    cursor: pointer;
}

.createForm > form > div > .Postdata > div > .postDatabuttons > button[type=button] {
    background-color: transparent;
    color: inherit;
    border: 1px solid var(--color-dark);
    cursor: pointer;
    font-weight: 600;
}

.createForm > form > div > .Postdata > div > .editablediv {
    width: 100%;
    height: 250px;
    border: 1px solid #0005;
    border-radius: var(--card-border-radius);
    overflow: hidden;
}

.createForm > form > div > .Postdata > div > .editablediv > div {
    margin: 1em;
    height: 90%;
    overflow: scroll;
}

.createForm > form > div > .Postdata > div > .editablediv > div:focus-visible {
    border: none;
    outline: none;
}

.createForm > form > div > .Postdata > div > .editablediv > div::-webkit-scrollbar {
    display: none;
}

.createForm > .Rules {
    display: grid;
    gap: 10px;
    grid-template-rows: 2fr 1fr;
    width: 100%;
}

.createForm > .Rules > .Instr {
    background-color: var(--color-white);
    color: var(--color-dark);
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 10px #0003;
    gap: 10px;
    padding: 0px !important;
}

.createForm > .Rules > .Instr > ol {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    gap: 10px;
    width: 100%;
}

.createForm > .Rules > .Instr > ol > li {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: small;
}

.createForm > .Rules > .Instr > ol > lh {
    padding: 0;
    margin: 0;
    font-weight: 900;
    font-size: large;
}

.createForm > form > .cP > .ButtonGroup > *:first-child {
    border-top-left-radius: var(--card-border-radius);
}

.createForm > form > .cP > .ButtonGroup > *:last-child {
    border-top-right-radius: var(--card-border-radius);
}

.DragAndDrop {
    min-height: 150px;  
    border: 2px dotted #666;
    width: 100%;
    color: #999;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light);
  }
  
  .dropzone {
    width: 100%;
    height: 150px;
  }
  
  .DragDropImage {
    position: absolute;
    top: 0;
    left: 0;
  }

  .contactUs{
      display: flex;
      font-size: smaller;
      justify-content: center;
      width: 100%;
  }

@media screen and (max-width : 1200px)
{

}

@media screen and (max-width : 992px){

    .Rules{
        display: none !important;
    }
    form{
    padding-left: 50px;
    
    }
    .createForm
    {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 6rem 0 ;
    }
    
}

@media screen and (max-width : 630px)
{
 
}

@media screen and (max-width : 480px)
{

}