.middle > .feeds > .feed > .photo {
    position: relative;
}

.middle > .feeds > .feed > .photo > label {
}

.middle > .feeds > .feed > .photo > .mute {
    position: absolute;
    bottom: 15px;
    right: 10px;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: .3em;
    border-radius: 100%;
    cursor: pointer;
}

.interaction-buttons {
    display: flex;
}

.interaction-buttons > .Vote {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.interaction-buttons > .Vote > * {
    cursor: pointer;
}

.search-bar input[type="Text"]{
    background: transparent;
    width: 100%;
    font-size: 0.9rem;
    color: var(--color-dark);
}

.search-bar > button {
    padding: .5em 1em;
    background-color: var(--color-primary);
    border-radius: 20px;
    font-weight: 900;
    font-size: 1.1em;
    color: white;
}

.search-bar > button > i {
    display: flex;
    justify-content: center;
    align-items: center;
}
.okay{
    margin: 10px;
}
