.Profile-1 {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 2px;
    gap: 5px;
    color: aliceblue;
    cursor: pointer;
}

.Profile-1 > div {
    display: flex;
    align-items: center;
    position: relative;
}

.Profile-1 > div >img {
    width: 20px;
    height: 20px;
    position: relative;
}

.userstate {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    transform: translate(25%, 25%);
    background-color: rgb(194, 12, 12);
}

.Profile-1 > label {
    cursor: pointer;
}

.logo{
    font-family: 'Pacifico', cursive !important;
    font-size: xx-large;
    color: var(--color-primary);
    display: flex;
    gap: 1px;
}


.loggo{
    fill: var(--color-primary);
    width: 50px;
    height: 50px;
    /* enable-background:new 0 0 1080 1080; */
}